.hero {
    background-image: url(../images/ali-kazal-7b39feeIMO0-unsplash.jpg);
    height: 400px;
    background-size: cover;
    background-position: left bottom;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#navbar {
    height: 70px;
}

#jasonmcgill {
    font-size: 30px;
}

#site-1 {
    background-image: url(../images/runbuddy.JPG);
    background-position: center;
    background-size: cover;
    max-height: 60em;
    min-height: 20em;
    margin: 10px;
}

#site-2 {
    background-image: url(../images/Home\ Page.PNG);
    background-size: cover;
    max-height: 500px;
    height: 10em;
    margin: 10px;
}

#site-3 {
    background-image: url(../images/calculatorjpg.jpg);
    background-size: cover;
    max-height: 500px;
    height: 10em;
    margin: 10px;
}

#site-4 {
    background-image: url(../images/disneyland.jpg);
    background-size: cover;
    max-height: 500px;
    height: 10em;
    margin: 10px;
}

#site-5 {
    background-image: url(../images/starwars.jpg);
    background-size: cover;
    max-height: 500px;
    height: 10em;
    margin: 10px;
}

/* .work-grid {
    padding: 10px;
} */

.left-aside {
    text-align: right;
}

.work-text {
    background: white;
    color: black;
    font-size: 2rem;
}

#nav {
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 768px) {

}
